.heading_center {
  text-align: center;
}
.main_container {
  background-color: #ff8533;
  border: none;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  margin: 20px auto;
  padding: 20px;
}
.input_box {
  text-align: right;
  width: 270px;
  height: 40px;
  border: none;
  border-radius: 25px;
  display: block;
  margin: 20px auto;
  font-size: 25px;
}
.button_container {
  margin-left: 10px;
  margin-top: 40px;
  height: 260px;
  width: 280px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.btn-eql {
  background-color: orangered;
  height: 50px;
  border: 1 solid pink;
}
.btn {
  border: none;
  text-align: center;
  border-radius: 10px;
  width: 50px;
  height: 40px;
  margin: 3px;
}
